*,
*:before,
*:after {
  box-sizing:border-box;
}

body {
  margin:0px;
  background-color:#F5F5F5;
  color:#363636;
  font-family:'biryani';
}

h1 {
  margin-top:0px;
}

nav {
  position:fixed;
  left:0px;
  top:0px;
  height:100vh;
  width:80px;
  background-color:#fff;
}

nav .logo {
  margin-top:10px;
  margin-bottom:200px;
}

nav img {
  width:100%;
  padding:5px;
  box-sizing:border-box;
}

nav ul {
  padding:0px;
  margin:0px;
}

nav ul li {
  list-style-type: none;
  margin-bottom:10px;
  border-left:4px solid transparent;
  cursor:pointer;
}

nav ul li:hover,
nav ul li.active {
  border-left:4px solid #1CA3BA;
}

nav ul li img {
  padding:10px 20px;
}

button,
a {
  background-color:#1CA3BA;
  padding:9px 20px;
  color:#fff;
  border-radius:40px;
  text-decoration:none;
  font-size:13px;
  line-height:19px;
  text-transform:uppercase;
  cursor:pointer;
  letter-spacing:1px;
  transition:all .3s;
  border:0;
}

button:hover,
a:hover {
  background-color:#127f92;
  transition:all .3s;
}

/* Error messages */
.js-error {
  border:2px solid red !important;
}

main {
  margin-left:80px;
  /* overflow:auto; */
  padding:30px;
}

.card {
  border-radius:4px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.05);
  background-color:#fff;
  padding:20px;
  margin-bottom:20px;
}

.intro-card {
  background: linear-gradient(to left, #E3F4F6, #8ED1DC);
  position:relative;
  padding:30px;
  margin-top:0px;
  transition:all .5s;
}

.intro-card p {
  margin:0px;
  font-size:18px;
  font-weight:600;
}

.intro-card #close {
  position:absolute;
  top:20px;
  right:20px;
  background-color:transparent;
  margin:0px;
  padding:0px;
  border:0;
  max-width:15px;
}

.intro-card #close img {
  width:100%;
}

.intro-card.hidden {
  margin-top:-112px;
  transition:all .5s;
}

.quick-cards-wrap {
  display:block;
  width:100%;
  overflow:auto;
}

.quick-stats-card {
  width:30%;
  margin-right:5%;
  float:left;
}
.quick-cards-wrap .quick-stats-card:last-of-type {
  margin-right:0px;
}

.quick-stats-card .title,
.quick-stats-card .output {
  margin:0px;
}

.quick-stats-card .title {
  margin-bottom:5px;
  text-transform:uppercase;
  font-size:12px;
}

.quick-stats-card .output {
  font-size:16px;
  font-weight:600;
}

.accounts-card {
  background-color:transparent;
  box-shadow:unset;
  margin-top:20px;
  clear:both;
}

.accounts-card header,
.recent-transactions-card header {
  margin-bottom:10px;
  overflow:auto;
}

.accounts-card header h2,
.recent-transactions-card header h2 {
  float:left;
  margin:0px;
}
.accounts-card header .button,
.recent-transactions-card header .button {
  float:right;
}

.accounts-card .accounts-list {
  padding:0px;
  margin:0px;
}

.accounts-card .accounts-list li {
  margin-bottom:10px;
  background-color:#fff;
  border-radius:4px;
  overflow:auto;
  padding:6px 20px;
}

.accounts-card .accounts-list li .icon {
  width:30%;
  float:left;
}

.accounts-card .accounts-list li .icon img {
  max-width:35px;
  width:100%;
}

.accounts-card .accounts-list li p {
  margin:8px 0px;
  line-height:30px;
  font-weight:600;
}

.accounts-card .accounts-list li .account {
  width:40%;
  float:left;
}

.accounts-card .accounts-list li .type {
  width:30%;
  float:left;
}

.recent-transactions-card .recent-transactions {
  width:100%;
}

table {
  border-collapse: collapse;
}

table thead tr {
  text-align:left;
  border-bottom:1px solid #CCCCCC;
}

table thead tr th {
  padding-bottom:5px;
}

table tbody tr  {
  border-bottom:2px solid #CCCCCC;
}

table tbody tr td {
  padding:10px 0px 5px;
  font-size:15px;
}

.column1,
.column2 {
  width:48%;
  float:left;
  margin-right:4%;
  margin-bottom:0px;
  overflow:hidden;
  position:relative;
}

.column2 {
  margin-right:0px;
}

#transactions-content header {
  width:48%;
}

#transactions-content header h1,
#transactions-content header .button-block {
  display:inline-block;
}

#transactions-content header .button-block {
  float:right;
}

#transactions-content .column1,
#transactions-content .column2 {
  max-height:84vh;
  overflow-y:scroll;
}

#transactions-content .column2 {
  width:44%;
  margin-left:4%;
  overflow-y:auto;
  padding-bottom:30px;
}

#transactions-content .new-transaction-card header {
  margin:0 auto;
}

#transactions-content .new-transaction-card header h2 {
  text-align:center;
  margin:0px 0px 10px 0px;
}

#transactions-content .new-transaction-card form {
  max-width:350px;
  margin:0 auto;
}

#transactions-content .new-transaction-card form * {
  display:block;
}

#transactions-content .new-transaction-card form label {
  font-size:12px;
}

#transactions-content .new-transaction-card form input,
#transactions-content .new-transaction-card form select {
  width:100%;
  margin-bottom:15px;
  height: 30px;
  padding: 0px 10px;
  border-radius: 0px;
  border: 0;
  -moz-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.05);
}

#transactions-content .new-transaction-card form select {
  background-color:#efefef;
}

#transactions-content .new-transaction-card form input[type="submit"] {
  background-color:#1CA3BA;
  padding:9px 20px;
  color:#fff;
  border-radius:40px;
  text-decoration:none;
  font-size:13px;
  cursor:pointer;
  letter-spacing:1px;
  transition:all .3s;
  border:0;
  display:inline-block;
  line-height:11px;
  width:auto;
}

#transactions-content .new-transaction-card form input[type="submit"]:hover {
  background-color:#127f92;
  transition:all .3s;
}

#transactions-content .button-block .button {
  background-color:transparent;
  color:#1CA3BA;
  border:2px solid #1CA3BA;
}

#transactions-content .button-block .button.active {
  background-color:#1CA3BA;
  color:#fff;
}

#transactions-content .button-block .button:hover {
  background-color:#1CA3BA;
  color:#fff;
}

#transactions-content .new-transaction-card #message {
  position:absolute;
  bottom:0px;
  left:0px;
  right:0px;
  padding:2px 20px;
  margin:0px;
}
#transactions-content .new-transaction-card #message span {
  font-size:12px;
  line-height:16px;
}

#transactions-content .new-transaction-card #message #close-banner {
  width:10px;
  height:10px;
  position:absolute;
  right:20px;
  top:calc(50% - 5px);
  cursor:pointer;
}

#message.js-confirm-msg {
  background-color:#baffcf;
}
